doctype html

//- This will go into the HTML file to let people know to edit this file instead:
// Please edit the index.jade or the files in comparisons/, this file is generated

include _alternatives

<!--[if lt IE 10 ]> <html class="old-ie"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html> <!--<![endif]-->
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='chrome=1')
  meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')

  title You Might Not Need jQuery

  meta(name='description', content='Examples of how to do common event, element, ajax and utility operations with plain javascript.')
  link(rel='icon', href='http://static.hubspot.com/favicon.ico')

  link(rel='stylesheet', href='css/prism.css')
  link(rel='stylesheet', href='css/index.css')

  script(src='js/prism.js')
  script(src='js/index.js')
body
  .page
    header.page-header
      .inner
        h1
          | You might <span class="highlighted">no</span>t need <span class="highlighted">jQuery</span>

      .old-ie-message
        | You certainly can support IE 9 and below without jQuery, but we don't.  Please stop messing with us.

    .explanation
      .inner
        p
          | jQuery and its cousins are great, and by all means use them if it makes it easier to develop your application.

        p
          | If you're developing a library on the other hand, please take a moment to consider if you actually need jQuery as a dependency.
          | Maybe you can include a few lines of utility code, and forgo the requirement.  If you're only targeting more modern browsers,
          | you might not need anything more than what the browser ships with.

        p
          | At the very least, make sure you know what <a href="https://docs.google.com/document/d/1LPaPA30bLUB_publLIMF0RlhdnPx_ePXm7oW02iiT6o">jQuery is doing for you</a>, and what it's not.  Some developers believe that jQuery
          | is protecting us from a great demon of browser incompatibility when, in truth, post-IE8, browsers are pretty easy to
          | deal with on their own.

    .share-buttons
      a.share-button-github(href="https://github.com/HubSpot/YouMightNotNeedjQuery")
        span ★ Star on Github
        span.github-stars

    header.search

      input(type="search", placeholder="Search...", required)

      .field
        label(for="version") What's the oldest version of IE you need to support?

        .slider
          input(name="version", id="version", type="range", min="8", max="10", value="10").version-slider

          .rule
            .range-label 8
            .range-label 9
            .range-label 10

    .comparisons

      .empty-message
        | Your search didn't match any comparisons.

      - var i = 0
      for comp in comparisons
        section(id=comp.title, class=(++i % 2 ? 'odd' : ''))
          .inner
            h2= titleCase(comp.title)

            if comp.comparison._alternatives
              +alternatives(comp.comparison._alternatives)

            for co, name in comp.comparison
              - if (name[0] === '_') continue;

              .comparison(id=name.replace(' ', '-').toLowerCase())
                h3
                  a(href='#' + name.replace(' ', '-'))= titleCase(name.replace(/_/g, ' ')).replace('Json', 'JSON').replace('Html', 'HTML')

                if co.alternatives
                  +alternatives(co.alternatives.txt)

                for browser in ['jquery', 'ie8', 'ie9', 'ie10']
                  if co[browser]
                    .browser(data-browser=getNamePart(browser), class=getNamePart(browser))

                      if browser === 'jquery'
                        h4 jQuery
                      else
                        h4= browser.toUpperCase() + '+'

                      for lang in ['js', 'css']
                        if co[browser][lang]
                          .code-block(class='language-' + fullLanguage(lang), data-lang=fullLanguage(lang))
                            pre
                              code= co[browser][lang]

    footer
      script.
        (function(){
          if (Math.random() >= 0.5)
            var peeps = ['adamfschwartz', 'zackbloom']
          else
            var peeps = ['zackbloom', 'adamfschwartz']

          document.write('<p>Made by <a href="http://twitter.com/'+ peeps[0] + '">@' + peeps[0] + '</a> and <a href="http://twitter.com/' + peeps[1] + '">@' + peeps[1] + '</a> at <a href="http://dev.hubspot.com">HubSpot</a>.</p>');
        })()

  script.
    (function(d,s,i,r) {
    if (d.getElementById(i)){return;}
    var n=d.createElement(s),e=d.getElementsByTagName(s)[0];
    n.id=i;n.src='//js.hubspot.com/analytics/'+(Math.ceil(new Date()/r)*r)+'/51294.js';
    e.parentNode.insertBefore(n, e);
    })(document,"script","hs-analytics",300000);

  script.
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-45159009-1', 'auto');
    ga('create', 'UA-50254005-2', 'auto', {name: 'e'});
    ga('send', 'pageview');
    ga('e.send', 'pageview');

  script.
    (function(){
      var recommends, button;
      if (Math.random() >= 0.5)
        recommends = ['hubspotdev', 'zackbloom', 'adamfschwartz'];
      else
        recommends = ['hubspotdev', 'adamfschwartz', 'zackbloom'];

      button = document.querySelector('.twitter-share-button');
      if (button)
        button.setAttribute('data-related', recommends.join(','));
    })();
  script(type='text/javascript', src='http://platform.twitter.com/widgets.js')

  div(style='-webkit-transform: translateZ(0);')
