doctype html
<!--[if lt IE 10 ]> <html class="old-ie"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html> <!--<![endif]-->
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='chrome=1')
  meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')

  title Você não depende do jQuery

  meta(name='description', content='Você não depende do jQuery by Zack Bloom (@zackbloom), Adam Schwartz (@adamfschwartz), and the HubSpot dev team (@HubSpotDev).')
  link(rel='icon', href='http://static.hubspot.com/favicon.ico')

  link(rel='stylesheet', href='/css/prism.css')
  link(rel='stylesheet', href='/css/index.css')

  script(type='text/javascript', src='//use.typekit.net/ghy0wve.js')
  script(type='text/javascript').
    try{Typekit.load();}catch(e){}

  script(src='/js/prism.js')
  script(src='/js/index.js')
body
  .page
    header.page-header
      .inner
        h1
          | Você <span class="highlighted">não</span> depende do <span class="highlighted">jQuery</span>

      .old-ie-message
        | Você certamente pode dar suporte ao IE9 sem jQuery. Mas nós não. Por favor, pare de brincar.

    .explanation
      .inner
        p
          | jQuery é otimo com todos os seus plugins, e isso torna o desenvolvimento do seu aplicativo muito ágil.

        p
          | Mas se você está desenvolvendo uma biblioteca, por favor, tire um tempo para considerar se você realmente depende do jQuery.
          | Talvez você possa escrever algumas linhas de um bom código e abandonar o jQuery. Se você não está preocupado com navegadores antigos,
          | você pode não precisar de nada mais do que os navegadores já oferecem.

        p
          | No mínimo, certifique-se que você sabe o que jQuery faz por você, e o que ele não faz. Alguns desenvolvedores acreditam que o jQuery
          | está nos protegendo de um grande demônio da incompatibilidade, quando na verdade, apartir do IE8 os navegadores se viraram muito bem sozinhos.

    .share-buttons

      .share-button.twitter-share-button
        iframe(src='http://hubstar.io/twitter/spin?via=HubSpotDev&hashtags=YMNNJQ&text=Voc%C3%AA%20n%C3%A3o%20depende%20do%20jQuery&url=http://YouMightNotNeedjQuery.com/br/&name=%22Voc%C3%AA%20n%C3%A3o%20depende%20do%20jQuery%22', frameborder=0, scrolling=0)

      .share-button.github-stars-button
        iframe(src='http://hubstar.io/github/spin/HubSpot/YouMightNotNeedjQuery', frameborder=0, scrolling=0)

    header.search

      input(type="search", placeholder="Procurar...", required)

      .field
        label(for="version") Para qual versão do IE você costuma de dar suporte?

        .slider
          input(name="version", type="range", min="8", max="10", value="10").version-slider

          .rule
            .range-label 8
            .range-label 9
            .range-label 10

    .comparisons

      .empty-message
        | Nenhum resultado com este termo

      - var i = 0
      - var br = {effects: 'EFEITOS', elements: 'ELEMENTOS', events: 'EVENTOS'}
      for comp in comparisons
        section(id=comp.title, class=(++i % 2 ? 'odd' : ''))
          .inner
            h2= (br[comp.title] || titleCase(comp.title))

            for co, name in comp.comparison
              .comparison(id=name.replace(' ', '-').toLowerCase())
                h3
                  a(href='#' + name.replace(' ', '-'))= titleCase(name.replace(/_/g, ' '))

                for browser in ['jquery', 'ie8', 'ie9', 'ie10']
                  if co[browser]
                    .browser(data-browser=getNamePart(browser), class=getNamePart(browser))

                      if browser === 'jquery'
                        h4 jQuery
                      else
                        h4= browser.toUpperCase() + '+'

                      for lang in ['js', 'css']
                        if co[browser][lang]
                          .code-block(class='language-' + fullLanguage(lang), data-lang=fullLanguage(lang))
                            pre
                              code= co[browser][lang]

    footer
      script.
        (function(){
          if (Math.random() >= 0.5)
            var peeps = ['adamfschwartz', 'zackbloom']
          else
            var peeps = ['zackbloom', 'adamfschwartz']

          document.write('<p>Desenvolvido por <a href="http://twitter.com/'+ peeps[0] + '">@' + peeps[0] + '</a> e <a href="http://twitter.com/' + peeps[1] + '">@' + peeps[1] + '</a> em <a href="http://dev.hubspot.com">HubSpot</a>. <small><br>Tradução por <a href="http://twitter.com/fabricionaweb">@fabricionaweb</a></small></p>');
        })()

  script.
    (function(d,s,i,r) {
    if (d.getElementById(i)){return;}
    var n=d.createElement(s),e=d.getElementsByTagName(s)[0];
    n.id=i;n.src='//js.hubspot.com/analytics/'+(Math.ceil(new Date()/r)*r)+'/51294.js';
    e.parentNode.insertBefore(n, e);
    })(document,"script","hs-analytics",300000);

  script.
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-45159009-1', 'auto');
    ga('send', 'pageview');

  script.
    (function(){
      var recommends, button;
      if (Math.random() >= 0.5)
        recommends = ['hubspotdev', 'zackbloom', 'adamfschwartz'];
      else
        recommends = ['hubspotdev', 'adamfschwartz', 'zackbloom'];

      button = document.querySelector('.twitter-share-button');
      if (button)
        button.setAttribute('data-related', recommends.join(','));
    })();
  script(type='text/javascript', src='http://platform.twitter.com/widgets.js')

  div(style='-webkit-transform: translateZ(0);')
